<div class="card">
   <!--*ngIf="animal"-->
   <div class="card-header"><h2 class="text-center">{{pageTitle}}</h2></div>
    <div class="card-body">
    <form [formGroup]="addanimal"
     (ngSubmit)="saveAnimal(animal)">

      <div class="form-group">
        <label for="name">Animal Name:</label>
        <input type="text" formControlName="name"
        placeholder="animal name"
        name="name" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label for="breifdesc">Animal Description:</label>
        <input type="text" formControlName="breifdesc"
        placeholder="animal Description"
        name="breifdesc" class="form-control" id="breifdesc">
      </div>

      <div class="form-group">
        <label for="age">Animal Age:</label>
        <input type="number" formControlName="age"
        placeholder="animal age"
        name="age" class="form-control" id="age">
      </div>

      <div class="form-group">
        <label for="imageUrl">Animal Age:</label>
        <input type="text" formControlName="imageUrl"
        placeholder="animal image Url"
        name="imageUrl" class="form-control" id="imageUrl">
      </div>

      





      <button [disabled]='!addanimal.valid ||!addanimal.dirty' class="btn btn-success">Save Entry</button>
    </form>
    </div>
    </div>