<div>
    <h1>Cart</h1>
    <div class="table-responsive">
        <table *ngIf="products.length"  class="table  ">

            <thead>
                <tr>
                    <th>#</th>
                 <th scope="col">Name</th>
                  
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Image</th>

                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let prod of products;let i = index" >
                  <td>{{i+1}}</td>
                    <td>
                     {{prod.name|uppercase}}
                    </td>
                    

                    <td>{{prod.price|currency:'INR'}}</td>
                    <td><input type="number" [(ngModel)]="prod.qty"></td>

                     <td><img src='{{prod.imageurl}}'></td>

                         </tr>
              </tbody>
            </table>

    </div>

</div>
