



body{
    background-color:coral;
}

 h1{
    text-align: center;
    border: 2px dotted black;
    
}

/* .container{
    display: flex;
    
}

.flex-item{
    width:50%;
    margin:20px 20px;
} */

