



body{
    background-color:white;
    
    text-align: center;
}
div{
    display: inline-block;
    border:2px solid black;
    height: auto;
    width:600px;

}

 h1{
    text-align: center;
    border: 2px dotted black;
    
}

/* .container{
    display: flex;
    
}

.flex-item{
    width:50%;
    margin:20px 20px;
} */

