<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
    <input type="text"  (keypress)='filterData(cat)' [(ngModel)]="cat" placeholder="Filter by category"/>

  <!-- <h1>Filtered as per ID {{cat}}</h1> -->
  <br>
  <br>
    <h3>{{title}}</h3>
    <div class="table-responsive">
        <table class="table table-light table-striped table-responsive">
        <!--*ngIf="products.length"-->

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">
                        <button
                class="btn btn-primary"
                (click)="imageVisibility()">{{showImg ? 'Hide' : 'Show'}} Image</button>
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pobservables$ | async;let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        {{p.id}}
                    </td>
                    <td (click)="productSelected(p)">{{p.name|uppercase}}</td>

                    <td>{{p.category}}</td>
                    <td>{{p.price|currency:'INR'}}</td>
                    <!-- this msg is for only testing [msg]='title'-->
                    <td><app-star [rating]='p.rating'   
                        (ratingClicked)='ratingHandler($event)'>
                    </app-star></td>
                    <td><input type="number" style="width: 50px;" [(ngModel)]="p.qty"></td>

                    <td><img  *ngIf="showImg"
                         src={{p.imageurl}} [style.margin.px]='imageMargin' 
                        [style.width.px]='imageWidth'/></td>
                    
                    <td> 
                        <button class="btn btn-primary" (click)='productAddEvent(p)'>ADD TO CART</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)='addnewproduct()' >ADD NEW PRODUCT</button>
    </div>

    
<router-outlet></router-outlet>



</body>
</html>
