.card{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    height:300px;
    width: full-width;
}
table,th,tr,td{
    border: 2px solid blue;
    text-align: center;
}
#price{
    background-color:yellow;
}