.card{
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    row-gap:10px ;
    
    border: 2px solid black;
}
  .example-card {
    max-width: 300px;
    margin-bottom: 50px;
    float: left;
    

    
  }  

img{
    height:200px;
    width: full-width;
}
table,th,tr,td{
    border: 2px solid blue;
    text-align: center;
}
#price{
    background-color:yellow;
}