<!-- <div><p>welcome works!</p> 
</div>-->

<!-- {{name | repeatData:5}}
<div class="card-body">
    Input string : <input type='text' [(ngModel)]="num" />
 
    <div [ngSwitch]="num">
      <div *ngSwitchCase="'1'">One</div>
      <div *ngSwitchCase="'2'">Two</div>
      <div *ngSwitchCase="'3'">Three</div>
      <div *ngSwitchCase="'4'">Four</div>
      <div *ngSwitchCase="'5'">Five</div>
      <div *ngSwitchDefault>This is Default</div>
    </div>
    </div>
 -->

 <!--<div><h1>{{msg}}</h1>
 <button id=btn (click)='printProduct()'>Show Products</button>
 </div>-->
 <div [@animateText]="text" class="move">Heloo</div>
 <h2>{{welcomeMsg}}</h2>

 <!--<h3>keypress Animation demo</h3>-->
  <button (click)="toggleBounce()">Move</button>
  