div{
    background-color: aqua;
    color:black;
    border: 2px solid red;
    
    text-align: center;
}

.move {
    position: relative;
    background-color:cadetblue;
    /*border-radius: 50%;*/
    top: 200px;
    height: 25px;
    width: 250px;
    color:black;
  }