<app-menu></app-menu>
<!-- 
    <card-list></card-list>
    //this code was for content projection
    <div>
    <app-home>
        <h1>This is from shell</h1>
    </app-home>
    <br>

    <app-home>
        
        <button class='btn btn-primary'>Add something</button>
        <button class="btn alert-danger">Red button</button>
    </app-home>

    <app-home>
        <button class='btn btn-primary'>another button</button>
        <p>this is paragraph</p>
    </app-home>
</div>
 -->
<div class="container main-content">
    <router-outlet></router-outlet>
</div>